body {
	max-width: 780px;
	padding: 10px;
	font-family: sans-serif;
	margin: auto;
}
code {
	background-color: #FAFAFA;
	border-radius: 3px;
	border: 1px solid #E5E5E5;
	padding: 2px;
}
p {
	line-height: 1.5;
}
h1 {
	font-size: 130%;
	text-align: center;
}
